body {
    background: linear-gradient(30deg, #0d2044, #0e182b);
    font-family: 'Hind Siliguri', sans-serif;
    min-width: 760px;
    background-attachment: fixed;
}

#header {
    float: right;
    display: flex;
    margin: 5px 20px 0px 0px;
    background-color: #0d2044;
    width: 100vw;
}

#header a {
    color: #00ffd5;
    text-decoration: none;
    font-size: 11pt;
    transition: all 0.15s;
}

#header a:hover {
    color: #48ff00;
}

#resumeButton {
    height: 35px;
    width: 85px;
    margin: 1px;
    transition: all 0.25s ease-in-out;
    background: none;
    font-size: 14pt;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    text-align: center;
    outline: none;
    transition: all 0.2s;
}

#resumeButton:hover {
    background-color: #002aff00;
    color: white;
    cursor: pointer;
}

#resumeButtonContainer {
    background: linear-gradient(90deg, #002bff,#48ff00, #002bff);
    background-size: 600%;
    padding: 3px;
    animation: glowing 20s linear infinite;
    border-radius: 10px;
    transition: all 0.15s ease-in-out;
}

#resumeButtonContainer:hover {
    padding: 5px;
    margin: -2px -2px 0px -2px;
    cursor: pointer;
}

.headerItem {
    margin: 10px 20px 10px 20px;
}

.headerSpacer {
    color: white;
    margin-top: 5px;
    font-size: larger;
}

#entryPage {
    text-align: center;
    width: 100%;
    height: 100vh;
}

#entryTitleContainer {
    animation: intro 2s linear;
}

@keyframes intro {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}

#entryTitle {
    user-select: none;
    line-height: 0.01em;
    font-size: 32pt;
    overflow: visible;
    text-align: center;
    vertical-align: middle;
    padding: 35vh 20px 10vh 20px;
    width: auto;
    height: auto;
    border-radius: 25px;
    transition: all 0.15s ease-in-out;
    color: silver;
}

h1 {
    background: linear-gradient(45deg, #002bff,#00ffd5, #48ff00, #00ffd5, #002bff);
    animation: glowing 60s linear infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    background-size: 400%;
    overflow: visible;
    line-height: normal;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    100% { background-position: 400% 0; }
}

#aboutMeContainer {
    
    width: 1000px;
    height: 100vh;
    margin: 50vh auto 50vh auto;
}

#aboutMeContainer h2 {
    color: #00ffd5;
    animation: none;
    background: none;
}

#aboutMeHeader {
    margin-top: 50vh;
    text-align: left;
}

#aboutMe {
    font-size: 14pt;
    line-height: 1.4em;
    text-align: left;
    color: silver;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 290px 100px;
}

#favTech {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
}

#selfieContainer {
    max-width: 300px;
    margin-left: 30px;
    height: auto;
}

#selfieActual {
    max-width: 300px;
    margin: 0px 5px 5px 5px;
    border-radius: 20px;
    padding: 4px;
    background: linear-gradient(45deg, #002bff,#00ffd5, #48ff00, #00ffd5, #002bff);
    background-size: 300%;
    transition: all 0.2s ease-in-out;
}

#selfieActual:hover {
    
}